

<div class="container-fluid gradient-background text-black py-5" style="background-image: url('../assets/pexels-content-pixie-1405717-2736499.jpg'); background-size: cover;">
    <h1 class="card-t1 text-center mb-4">Welcome to your <span class="highlight">Productivity Hub!</span> </h1>
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card shadow">
            <div class="card-body">
              <h2 class="card-title text-center mb-4">Login</h2>
              <form [formGroup]="login" (ngSubmit)="logindata(login)">
                <div class="mb-3">
                  <label for="emailInput" class="form-label">Email address</label>
                  <input type="email" formControlName="emailInput" class="form-control" id="emailInput" aria-describedby="emailHelp" required>
                  <div *ngIf="login.get('emailInput').invalid && login.get('emailInput').touched" class="text-danger">
                    <small *ngIf="login.get('emailInput').errors?.required">Email is required.</small>
                    <small *ngIf="login.get('emailInput').errors?.email">Enter a valid email.</small>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="passwordInput" class="form-label">Password</label>
                  <input type="password" formControlName="passwordInput" class="form-control" id="passwordInput" required>
                  <div *ngIf="login.get('passwordInput').invalid && login.get('passwordInput').touched" class="text-danger">
                    <small *ngIf="login.get('passwordInput').errors?.required">Password is required.</small>
                    <small *ngIf="login.get('passwordInput').errors?.minlength">Password must be at least 6 characters long.</small>
                  </div>
                </div>
  
                <div class="d-grid gap-2">
                  <!-- <a href="" class="btn btn-primary" [routerLink]="['/home']">Sign In</a> -->
                  <button type="submit"  class="btn btn-primary" [disabled]="login.invalid">Sign In</button>
                </div>
              </form>
            </div>
            <div class="card-footer text-muted text-center">
              Don't have an account? <a  class="btn " routerLink="/register">Sign up</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  
  
  
